{% extends 'base.html' %}

{% load static %}

{%block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ titulo }}</h1>
            <!-- <p class="lead text-muted">Abaixo a lista de cursos disponíveis na plataforma</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p> -->
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            {% for curso in object_list %}
                <div class="card-group">
                    <div class="card shadow-sm">

                        {% if curso.image %}

                            <a class="text-center" href="{% url 'detalhes-curso' curso.slug %}" ><img class="img-thumbnail" src="{{ curso.image.url }}" alt="{{curso.nome}}"
                                style="height: 25rem;" width="100%" /></a>

                        {%else %}
                        
                            <a href="{% url 'detalhes-curso' curso.slug %}" ><img src="{% static 'img/curso_capa.png' %}" alt="" width="100%" style="height: 25rem;"/></a>
                        
                        {%endif%}

                        <div class="card-body">
                            <h4 class="fw-light text-center">
                                {{ curso.nome | linebreaks }}
                            </h4>
                            <p class="lead text-muted">
                                {{ curso.descricao|truncatewords:40}}
                            </p>
                        </div>
                        <div class="card-footer">
                            
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <div class="btn-group">
                                    <a href="{% url 'detalhes-curso' curso.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                                    {% if curso.user == request.user %}
                                        <a href="{% url 'edit-curso' curso.id %}?next={{ request.path }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    {% endif %}
                                </div>
                                
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% empty %}
            
            <h4 class="fw-light text-center">
                Nennhum Curso Encontrado :(
            </h4>
            
            {% endfor %}
        
        </div>
        {% if object_list %}
            <ul class="pagination pagination-circle justify-content-center pt-4">
                
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
                    </li>
                {% endif %}
                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                
                {%endfor%}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a>
                    </li>
                {% endif %}
                
            </ul>

        {% endif %}
    </div>

</div>

{% endblock %}