{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{%block content %}

<div class="modal fade" id="ModalDesinscrever" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desinscrever do curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja se desinscrever do curso {{ course }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Voltar</button>
                <a href="{% url 'cancelar-matricula' course.id %}?next={{ request.path }}"
                    type="button" data-bs-toggle="tooltip" data-bs-title="Excluir o Módulo"
                    class="btn btn-danger">Sim, tenho certeza!</a>
            </div>
        </div>
    </div>
</div>

<section class="bg-dark py-4 container-fluid">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-2">
                {% if course.image %}
                <img src="{{ course.image.url }}" alt="" class="img-fluid rounded" alt=""
                    loading="lazy" />
                {% else %}
                <img src="{% static 'img/curso_capa.png' %}" alt="" class="img-fluid rounded" alt=""
                    loading="lazy" />
                {% endif %}
            </div>
            <div class="col-10">
                <h1 class="text-white">{{ course }}</h1>
                <p class="text-white">
                    {{ course.descricao }}
                </p>
                <p class="fs-6">
                    Criado por <a href="">{{ course.user }}</a>
                </p>
                <p class="fs-6">
                    Última atualização em {{ course.atualizado_em}}
                </p>
                <div class="row p-2 col-12 text-center">
                    <div class="col-2">
                        <p class="text-white">Seu Estado</p>
                        {%if request.user.is_authenticated %}
                            {% if matriculado %}
                            <p class="h5">
                                <a href="" data-bs-toggle="modal" data-bs-target="#ModalDesinscrever">
                                    <span class="badge text-bg-success">Inscrito</span>
                                </a>
                            </p>
                            {% else %}
                            <p class="h5">
                                <a href="{% url 'matricula' course.slug %}?next={{ request.path }}">
                                    <span class="badge text-bg-danger">Inscreva-se</span>
                                </a>
                            </p>
                            {% endif %}
                        {% else %}
                            <p class="h5">
                                <a href="{% url 'login' %}?next={{ request.path }}">
                                    <span class="badge text-bg-danger">Inscreva-se</span>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                    <div style="display: inline-flex; width: 25px; height: 75px;">
                        <hr style="margin: 0px 0px 0px 1px; border-left:2.5px solid #000;">
                    </div>
                    <div class="col-2">
                        <p class="text-white">Categoria</p>
                        <p class="h5">
                            <span class="badge text-bg-light">{{ course.categoria }}</span>
                        </p>
                    </div>
                    <div style="display: inline-flex; width: 25px; height: 75px;">
                        <hr style="margin: 0px 0px 0px 1px; border-left:2.5px solid #000;">
                    </div>
                    <div class="col-2">
                        <p class="text-white" >Alunos inscritos</p>
                        <p class="h5">
                            <span class="badge text-bg-warning">
                                <span>{{course.get_num_alunos_matriculados}}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div>
                <h1 class="display-5 fw-bold lh-1 mb-3">Descrição</h1>
                <p>
                    {{ course.sobre_curso|linebreaks }}
                </p>

            </div>
        </div>
    </div>
    
    <div class="p-5 mb-4 rounded-3">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold lh-1 mb-4">Conteúdo do curso</h1>
            <div>
                {% for modulos in course.get_modulos %}
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne-{{ modulos.id }}" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    Modulo {{modulos.numero_modulo}}: {{ modulos }}
                                </button>
                            </h2>
                            
                            {%for aula in modulos.get_aulas%}
                            
                                <div id="panelsStayOpen-collapseOne-{{ modulos.id }}" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        
                                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                                            <div class="list-group list-group-flush border-bottom scrollarea">
                                                <a href="{% url 'ver-aula' course.slug aula.id %}?next={{ request.path }}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                                        <strong class="mb-1">{{aula.numero_aula}}. {{aula}}</strong>
                                                        <small><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                                                class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                                            </svg></small>
                                                    </div>
                                                    <div class="col-10 mb-1 small">{{aula.sobre_aula|truncatewords:20}}</div>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                    <div id="panelsStayOpen-collapseOne-{{ modulos.id }}" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            
                                            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                                                <div class="list-group list-group-flush border-bottom scrollarea">
                                                    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                                            <strong class="mb-1">Aula Indisponivel</strong>
                                                        </div>
                                                        <div class="col-10 mb-1 small">As aulas deste modulo estarão disponiveis em breve!!</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             
                            {% endfor %} 
                        </div>
                    </div>
                {% empty %}
                    <h3 class="display-6 lh-1 mb-5">Ainda não ha conteudo disponivel neste curso!!</h3>
                {% endfor %}
            </div>
            
        </div>
    </div>
    <!-- <div class="bg-light">
        <div class="container text-center">
            <div class="row align-items-center py-5">
                <div class="col-md-12 mx-auto col-lg-6">
                    <h3>Informações do professor do curso:</h3>
                    {% if criador.imageperfil %}
                        <img src="{{ criador.imageperfil.url }}" alt="mdo" width="154" height="154" class="rounded-circle">
                    {% else%}
                        <img src="https://github.com/mdo3.png" alt="mdo" width="154" height="154" class="rounded-circle">
                    {% endif %}
                    <br><br>
                    <label class="form-label">Nome</label>
                    {% if criador.nome %}
                    <input type="text" class="form-control" value="{{ criador.nome}}" disabled>
                    {% else %}
                    <input type="text" class="form-control" value="{{ criador.username }}" disabled>
                    {% endif %}
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" value="{{ criador.email }}" disabled>
                </div>
            </div>
        </div>
    </div> -->

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <div>
                <h1 class="display-5 fw-bold lh-1 mb-3">Instrutor</h1>
                <p class="fs-5"> {{ criador.nome}} </p>
                <div class="container">
                    
                    <div class="row py-lg-1">
                        <div class="col-2">
                            {% if criador.imageperfil %}
                                <img src="{{ criador.imageperfil.url }}" alt="mdo" class="img-fluid rounded">
                            {% else%}
                                <img src="https://github.com/mdo3.png" alt="mdo" class="img-fluid rounded">
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                                <strong>4.8</strong> Classificação do instrutor
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                    <path
                                        d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                                </svg>
                                <strong>3.066</strong> Avaliações
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd"
                                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                </svg>
                                <strong>158.495</strong> Alunos
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                                </svg>
                                <strong>14</strong> Cursos
                            </p>
                        </div>
                    </div>

                </div>

                <p class="fs-5"> {{ criador.bio|linebreaks }} </p>
    
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-md-12 mx-auto col-lg-6">
                <form method="post">

                    <div class="text-center py-5">
                        <h3>Tire sua dúvida sobre o Curso</h3>
                    </div>

                    <div class="form-row">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-floating mb-3">
                            {% render_field field placeholder=field.label class="form-control" %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>

                        {% endfor %}

                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
                    <hr class="my-4">

                    {% if form.errors %}

                    <div class="alert alert-warning" role="alert">
                        Usuario ou senha incorretos
                    </div>

                    {% endif %}

                    <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                </form>
            </div>
        </div>
    </div>

</div>


<!-- <div class="container">
    <div class="splash">

        <div class="pure-g-r">

            <div class="pure-u-1">

                <div class="l-box splash-text">

                    <h1 class="splash-head">
                        {{ course }}
                    </h1>

                    <h2 class="splash-subhead"> {{ course.descricao }} </h2>

                    <p>
                        <a href="#" class="pure-button primary-button">Inscreva-se</a>
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="pure-g-r content-ribbon">

        <div class="pure-u-2-3">

            <div class="l-box">
                <h4 class="content-subhead">Sobre o Curso</h4>
                {{ course.sobre_curso|linebreaks }}

            </div>

        </div>

        <div class="pure-u-1-3">

            <div class="l-box">

                {% if course.image %}
                <img src="{{ course.image.url }}" alt="" />
                {% else %}
                <img src="{% static 'img/curso_capa.png' %}" alt="" />
                {% endif %}

            </div>
            <h4>Dúvidas?</h4>
            <p>
                <a href="#contato" title="" class="pure-button">Fale Conosco</a>
            </p>
        </div>
    </div>

    <div class="pure-g-r content-ribbon" id="contato">
        <div class="pure-u-1">

            <form class="pure-form pure-form-aligned" method="post">

                <h3>Tire sua dúvida sobre o Curso</h3>

                {%if is_valid %}
                <h4 style="color: green;">Formulario enviado com sucesso !!!</h4>
                {%endif%}

                {% csrf_token %}

                {% for campo in form %}
                <div class="pure-control-group">
                    {{ campo.label_tag}}
                    {{campo}}

                    {%if campo.errors %}
                    <ul class="errorlist">
                        {%for erro in campo.errors %}
                        <li>{{ erro }}</li>
                        {%endfor%}
                    </ul>
                    {%endif%}

                </div>

                {%endfor%}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                </div>


            </form>
        </div>

    </div>

</div> -->


{% endblock %}