

{% extends 'base.html' %}

{% load static %}

{%block content %}

<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="content-subhead">Listagem de Cursos do DEV Academy</h4>
            <p>Abaixo a lista de cursos disponíveis na plataforma</p>
        </div>
    </div>
</div>

{% for curso in object_list %}

<div class="pure-g-r content-ribbon">
    
    <div class="pure-u-1-3">
        <div class="l-box">
            
            <a href="#">
            {% if curso.image %}

            <img src="{{ curso.image.url }}" alt="{{curso.nome}}" />
            
            {%else %}
            <img src="{% static 'img/curso_capa.png' %}" alt="" />
            
            {%endif%}
            </a>
        </div>
    
    </div>
    
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead"><a href="" title=""></a>{{ curso.nome}}</h4>
            
            {{ curso.descricao | linebreaks }} #linelinebreaks comando em django para formatar texto
            
    
        </div>
    
    </div>

</div>

{% empty %}

<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="content-subhead">Não ha cursos disponíveis</h4>
            
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}

