.accordion-button:not(.collapsed) {
    color: inherit;
    background: rgba(33, 37, 41);
    color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(70%);
}

.card-body{
    height: 8rem;
    overflow-y: scroll;
}

.card-body img {
    width: 100%;
}