{% extends 'cursos/dashboard/detalhes.html' %}
{% load static %}
{% get_media_prefix %}


{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Aula - {{aula.titulo}}</h2>

</div>

<div class="container-fluid">

    <div class="text-center mt-3">
    
        <iframe width="100%" height="720" src="{{aula.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

<script>
    const activeDiv = document.getElementById('Aula_dash');
    activeDiv.classList.add('active');
    console.log(activeDiv)
</script>

{% endblock %}