{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h2>Informe seus dados para logar:</h2>
        
        <form class="pure-form pure-form-stacked" method="post">
            
            {% csrf_token %}
                <div class="pure-control-group">
                    {{ form }}
                    
                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                </div>

            <p>
                Não é cadastrado? <a href=" {% url 'cadastrar' %} " title="">Cadastre-se</a> <br />
                Esqueceu a senha? <a href="" title="">Nova senha</a> <br />
            </p>
        </form>
    </div>
</div>

{% endblock%}
