{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="rounded-3 border col-md-10">

            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Perfil</button>
                    <button class="nav-link" id="nav-courses-tab" data-bs-toggle="tab" data-bs-target="#nav-courses"
                    type="button" role="tab" aria-controls="nav-courses" aria-selected="false">Curso(s)</button>
                    <button class="nav-link" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description"
                        type="button" role="tab" aria-controls="nav-description" aria-selected="true">Descrição</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="p-3 py-4">
                    
                        <div class="text-center">
                            {% if user.imageperfil %}
                                <img src="{{ user.imageperfil.url }}" width="128" height="128" class="rounded-circle">
                            {% else%}
                                <img src="https://github.com/mdo3.png" width="128" height="128" class="rounded-circle">
                            {% endif %} 

                        </div>
                    
                        <div class="text-center mt-3">
                            <span class="bg-secondary p-1 px-4 rounded text-white">{{tipo_user}}</span>
                            <h5 class="mt-2 mb-0">{{user}}</h5>
                            <h5 class="mt-2 mb-0">{{user.email}}</h5>
                            <!-- <span>UI/UX Designer</span> -->
                    
                            <div class="px-4 mt-1">
                                <p class="fonts">{{user.bio}} </p>
                    
                            </div>
                    
                            <div class="buttons">
                                <!--<a type="button" class="btn btn-primary px-4 ms-3" data-bs-toggle="modal" data-bs-target="#editPassword">Editar Senha</a>-->
                                <!--<a type="button" class="btn btn-outline-primary px-4" data-bs-toggle="modal" data-bs-target="#editAccount">Editar Conta</a><-->
                                <a type="button" class="btn btn-outline-primary px-4" href=" {% url 'edit-perfil' request.user.id %} " >Editar Conta</a>
                                <a type="button" class="btn btn-primary px-4 ms-3" href="{% url 'edit-password' %}">Editar Senha</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-courses" role="tabpanel" aria-labelledby="nav-courses-tab">
                    <div class="p-3 py-4">
                    
                        <div class="text-center">
                            {% if user.imageperfil %}
                                <img src="{{ user.imageperfil.url }}" width="128" height="128" class="rounded-circle">
                            {% else%}
                                <img src="https://github.com/mdo3.png" width="128" height="128" class="rounded-circle">
                            {% endif %} 

                        </div>
                    
                        <div class="text-center mt-3">
                            <span class="bg-secondary p-1 px-4 rounded text-white">{{tipo_user}}</span>
                            <h5 class="mt-2 mb-0">{{user}}</h5>
                            <h5 class="mt-2 mb-0">{{user.email}}</h5>
                            <!-- <span>UI/UX Designer</span> -->
                    
                            <div class="p-5">
                                {% if user.is_Teacher %}

                                    {% if cursos %}

                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Quantidade de alunos</th>
                                                    <th scope="col">Data de criacao</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>

                                            {% for c in cursos %}
                                            
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">{{c.id}}</th>
                                                        <td>{{c.nome}}</td>
                                                        <td>*</td>
                                                        <td>{{c.criado_em}}</td>
                                                        <td>
                                                            <a href="{% url 'edit-curso' c.id %}" type="button" class="btn btn-group">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                    <path fill-rule="evenodd"
                                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                </svg>
                                                            </a>
                                                            <a href="{% url 'detalhes-curso' c.slug %}" type="button" class="btn btn-group">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right"
                                                                    viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                                                                </svg>
                                                            </a>
                                                        </td>
                                                    </tr>
                
                                                </tbody>
                    
                                            {% endfor %}
                                            
                                        </table>
                                    {% else %}
                                        <h2>Usuario não possui Cursos criados!</h2>
                                    
                                    {% endif %}


                                    
                                {% else %}

                                    <h2>Aluno não está inscrito em nenhum curso!!</h2>
                         
                                {% endif %}

                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                    <div class="p-3 py-4">
                    
                        <div class="text-center">
                            {% if user.imageperfil %}
                                <img src="{{ user.imageperfil.url }}" width="128" height="128" class="rounded-circle">
                            {% else%}
                                <img src="https://github.com/mdo3.png" width="128" height="128" class="rounded-circle">
                            {% endif %} 

                        </div>
                    
                        <div class="text-center mt-3">
                            <span class="bg-secondary p-1 px-4 rounded text-white">{{tipo_user}}</span>
                            <h5 class="mt-2 mb-0">{{user}}</h5>
                            <h5 class="mt-2 mb-0">{{user.email}}</h5>
                            <!-- <span>UI/UX Designer</span> -->
                    
                            <div class="px-4 mt-1">
                                <p class="fonts">{{user.bio}}</p>
                    
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% block editperfil %}


<div class="modal fade" id="editAccount" tabindex="-1"
    aria-labelledby="editAccountTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAccountTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Aqui vai ter o <strong>FORM</strong> para editar as informacoes da conta do usuario</p>
                
             <!--   
                <div class="form-row">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field.label }}
                            {{field}}

                        </div>
                    {% endfor %}
                
                </div>

            --> 
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>

{% endblock %}

<div class="modal fade" id="editPassword" tabindex="-1"
    aria-labelledby="editPasswordTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPasswordTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Aqui vai ter o <strong>FORM</strong> para editar apenas a senha do usuario.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}